<table>

    <thead>
    <tr>
        <th width="25%">
            <f:translate key="tx_gjobookslibrary_domain_model_bookplugin.key"/>
        </th>
        <th width="75%">
            <f:translate key="tx_gjobookslibrary_domain_model_bookplugin.value"/>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <f:translate key="tx_gjobookslibrary_domain_model_bookplugin.title"/>
        </td>
        <td>
            {book.title}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_gjobookslibrary_domain_model_bookplugin.isbn"/>
        </td>
        <td>
            {book.isbn}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_gjobookslibrary_domain_model_bookplugin.cost"/>
        </td>
        <td>
            {book.cost}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_gjobookslibrary_domain_model_bookplugin.pages"/>
        </td>
        <td>
            {book.pages}
        </td>
    </tr>
    <!--<tr>-->
        <!--<td>-->
            <!--<f:translate key="tx_gjobookslibrary_domain_model_bookplugin.print_date"/>-->
        <!--</td>-->
        <!--<td>-->
            <!--{book.printDate -> f:format.date()}-->
        <!--</td>-->
    <!--</tr>-->
    </tbody>
</table>