<table>

    <thead>
    <tr>
        <th width="25%">
            <f:translate key="tx_gjobookslibrary_domain_model_authorplugin.key"/>
        </th>
        <th width="75%">
            <f:translate key="tx_gjobookslibrary_domain_model_authorplugin.value"/>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <f:translate key="tx_gjobookslibrary_domain_model_authorplugin.name"/>
        </td>
        <td>
            {author.name}
        </td>
    </tr>
    </tbody>
</table>